.table{
    width:95%;
    border-radius: 10px;
    border: 1px solid #7C7C7C;
}

.table_container {
  display:flex;
  justify-content: center;
}

.table_toolbar {
    display: flex;
    justify-content: space-between;
}

.table_head_cell{
    font-weight: bold;
}

.icon_buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.search_input {
    border-radius: 10px;
    border: 1px solid #737373;
}

.filter_select {
    border-radius: 10px;
    border: 1px solid #737373;
}


.option {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #F3F3F3;
    border-radius: 50px;

}

.optionAdd {
    cursor: pointer;
    display: flex;
    background-color: #FF9300;
    /* width: 5%; */
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
}

.iconAdd {
    margin: 5px;
    /* height: 50%; */
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #F3F3F3;
    border-radius: 50%;
    /* width: 50%; */
    justify-content: center;

}