.formGroup{
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 4px;
}
.textarea{
    width: 100%;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: '4px';
    height:100px;
}